/* Add your custom CSS here */

nav.theme-light, nav.theme-light ul.links-wrapper.active {
    background-color: var(--trans-000);
}

nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--amber-200) }

nav.theme-light a#btn-cta:link,
nav.theme-light a#btn-cta:visited { color: var(--white-000) }
nav.theme-light a#btn-cta:focus,
nav.theme-light a#btn-cta:hover,
nav.theme-light a#btn-cta:active { color: var(--white-000) }
nav.theme-light ul.links-wrapper li a:link,
nav.theme-light ul.links-wrapper li a:visited { color: var(--white-000) }
.section-selector-1 { background-color: var(--amber-100) }


header.theme-light { background-color: var(--trend-050) }

nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper li a:link,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper li a:visited {
    color: var(--black-000);
}

.website-logo{
    height: 60px;
    margin-top: -10px;
}